.app.dark {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    
    --primary-color: #849184;
    --secondary-color: #04ff04;
    --inverted-primary-color: #35362e;
    --inverted-secondary-color: #0449e0;
}
